<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
    body, td, th, tr, p, a {
      font-size: 18px !important;
    }
    h1 {
      font-size: 36px !important;
    }
    h2 {
      font-size: 24px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    .publications-table tr {
      margin-bottom: 10px !important;
    }
    .publications-table td {
      padding: 1% 2.5% !important;
      font-size: 18px !important;
    }
    .publications-table h3 {
      font-size: 20px !important;
    }
  </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Qibing Ren「任麒冰」
              </h1>
              <p>I am a PhD candidate at the <a href="https://dmcv.sjtu.edu.cn/people/">DMCV lab</a> of <a href="https://www.sjtu.edu.cn"></a>Shanghai Jiao Tong University</a>. I am currently the class leader of <a href="https://news.sjtu.edu.cn/jdyw/20190930/111855.html"> Wu Wenjun Honorary Doctoral Program</a> at SJTU. My PhD advisor is <a href="https://dmcv.sjtu.edu.cn/people/">Lizhuang Ma</a>.
              </p>
              <p>
                Previously, I received my B.S. from SJTU. I also spent time at AI research labs of MiniMax, Tencent, ByteDance and Shanghai AI Lab.
              </p>
              <p>
                Email: renqibing [at] sjtu.edu.cn
              </p>
              <p style="text-align:center">
                <a href="https://github.com/renqibing">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=UZKS9MQAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/qibing-ren-91210519b/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/jizhou1.JPG">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Topics</h2>
              <p>
                I'd like to train superintelligent AI that is both 'smart' and 'kind' for human goodness. So, to make safe AI, I am interested in human-computer interaction, AI alignment, and AI safety. I am also developing advanced multimodal AI systems.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>

        <table class="publications-table" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="width:100%;vertical-align:middle">
              {% if post.arxiv %}
              <h3><a href="{{post.arxiv}}">{{post.title}}</a></h3>
              {% else %}
              <h3>{{post.title}}</h3>
              {% endif %}
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>

        <!-- Awards Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p>
                <strong>Yuanqing Yang Scholarship</strong> (4 Ph.D. fellows in CS), SJTU. 2025<br>
                <strong>Class Leader of Wu Wenjun AI Class</strong> (top 5% in SJTU), SJTU. 2023<br>
                <strong>Yuanqing Yang Scholarship</strong> (3 Bachelor fellows in CS), SJTU. 2022<br>
                <strong>HyperGryph Scholarship</strong> (top 5% in SJTU), SJTU. 2021<br>
                <strong>Outstanding Undergraduate Student</strong>, SJTU. 2020<br>
                <strong>Shanghai Scholarship</strong> (top 1.5% in SJTU), SJTU. 2018<br>
                <strong>First-class scholarship</strong> (top 1% in SJTU), SJTU. 2018<br>
                <strong>Zhiyuan College Honors Scholarship</strong> (top 5% in SJTU), SJTU. 2016-2018<br>
                <strong>National Scholarship</strong> (top 1.5% in SJTU - highest honor for Chinese undergraduates), SJTU. 2016
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>

        <!-- Professional Services Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Professional Services</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p>
                <strong>PC member/Reviewer:</strong> ICML'21-25, NeurIPS'21-25, ICLR'22-26, AAAI'21-25, AISTATS'24-26
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

